.idea
.sqlite3
.sql
.venv
venv
env
ENV/ 
env.bak/ 
venv.bak/ 
*pyc
.vscode/*
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.mypy_cache/ 

