{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>StudyWay</title>
	
	<meta charset="utf-8">
 	
 	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
	  	
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">

  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{%static 'css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">

  <link rel="stylesheet" href="{%static 'css/jquery.fancybox.min.css'%}">

  <link rel="stylesheet" href="{%static 'css/bootstrap-datepicker.css'%}">

  <link rel="stylesheet" href="{%static 'fonts/flaticon/font/flaticon.css'%}">

  <link rel="stylesheet" href="{%static 'css/aos.css'%}">
  <link href="{%static 'css/jquery.mb.YTPlayer.min.css'%}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{%static 'css/style.css'%}">


</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

	
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <div class="py-2 social-icon-w" style=" background-color: #0B0B3B;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-9 d-none d-lg-block">
            <a href="#" class="small mr-3" style="color:#6495ED;"><span class="icon-question-circle-o mr-2"></span> Duvídas?</a> 
            <a href="#" class="small mr-3" style="color:#6495ED;"><span class="icon-phone2 mr-2"></span> 85 998 74 65 10</a> 
            <a href="#" class="small mr-3" style="color:#6495ED;"><span class="icon-envelope-o mr-2"></span> info@mydomain.com</a> 
          </div>
          <div class="col-lg-3 text-right">

            <a href="login.html" class="small mr-3 " style="color:#6495ED;">

              <span class="icon-unlock-alt social-icon-w" style="color:#6495ED;" ></span> LogIn</a>
              <a href="{%url 'signup'%}" class="small btn social-icon-w px-4 py-2 rounded-0" style="color:#6495ED;"><span class="icon-users"></span> Cadastre-se</a>
          </div>
        </div>
      </div>
    </div>
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="index.html" class="d-block">
              <img src="{%static 'images/logo-completa-cinza.png'%}" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active">
                  <a href="index.html" class="nav-link text-left">Home</a>
                </li>
                <li class="has-children">
                  <a href="about.html" class="nav-link text-left">Sobre Nós</a>
                  <ul class="dropdown">
                    <li><a href="teachers.html">Nosso Professores</a></li>
                    <li><a href="about.html">Nosso Alunos</a></li>
                  </ul>
                </li>
                
                <li>
                  <a href="courses.html" class="nav-link text-left">Quem Somos?</a>
                </li>
                <li>
                    <a href="contact.html" class="nav-link text-left">Contato</a>
                  </li>
              </ul>                                                                                                                                                                                                                              
            </nav>

          </div>
          
      </div>

    </header>
    <br>
    <br>
    <br>
    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          
          <div class="col-lg-4 mb-5">
            <h2 class="section-title-underline mb-5">
              <span>Bem-Vindo ao StudyWay</span>            
            </h2>

          </div>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <p>

       
      </div>
      
    </div>


    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          
          <div class="col-lg-4 mb-5">
            <h2 class="section-title-underline mb-5">
              <span>Por que Studyway funciona?</span>            
            </h2>
          </div>
        </div>
       
        <div class = "row">
          
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

            <div class="feature-1 border">
              <div class="icon-wrapper">
                <span class="flaticon-mortarboard text-white"></span>
              </div>
              <div class="feature-1-content">
                <h2>Personalize seu Estudo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
                <p><a href="#" class="btn btn-info px-4 rounded-0">Saiba mais</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

            <div class="feature-1 border">
              <div class="icon-wrapper">
                <span class="flaticon-diploma text-white"></span>
              </div>
              <div class="feature-1-content">
                <h2>Teste seus conhecimentos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
                <p><a href="#" class="btn btn-info px-4 rounded-0">Saiba mais</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

            <div class="feature-1 border">
              <div class="icon-wrapper">
                <span class="flaticon-blackboard text-white"></span>
              </div>
              <div class="feature-1-content">
                <h2>Acesse o material dos professores</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
                <p><a href="#" class="btn btn-info px-4 rounded-0">Saiba mais</a></p>
              </div>
            </div>
          </div>

  

        </div>
        <div class="site-section">
          <div class="container">
            <div class="row">
             <div class="col-lg-5">
              
                <h2 class="section-title-underline">
                  <span>Nossos Professores</span>
                </h2>
                <br>  
                <img src="{%static 'images/Photo by Javier Sierra on Unsplash.jpg' %}" alt="Image" class="img-fluid mr-3">
           

              </div>

              <div class="col-lg-7">
                  <br>
                  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem nesciunt quaerat ad reiciendis perferendis voluptate fugiat sunt fuga error totam.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus assumenda omnis tempora ullam alias amet eveniet voluptas, incidunt quasi aut officiis porro ad, expedita saepe necessitatibus rem debitis architecto dolore? Nam omnis sapiente placeat blanditiis voluptas dignissimos, itaque fugit a laudantium adipisci dolorem enim ipsum cum molestias? Quod quae molestias modi fugiat quisquam. Eligendi recusandae officiis debitis quas beatae aliquam?</p>
                  <p><a href="#" class="text-info">Seja nosso colaborador</a></p>
              </div>
          </div>
                 

          </div>
          </div>
                <div class="site-section">
          <div class="container">
            <div class="row">
             <div class="col-lg-5">
              
                <h2 class="section-title-underline">
                  <span>Nossos Alunos</span>
                </h2>
                <br>  
                <img src="{%static 'images/Photo by Brooke Cagle on Unsplash.jpg' %}" alt="Image" class="img-fluid mr-3">
           

              </div>

              <div class="col-lg-7">
                  <br>
                  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem nesciunt quaerat ad reiciendis perferendis voluptate fugiat sunt fuga error totam.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus assumenda omnis tempora ullam alias amet eveniet voluptas, incidunt quasi aut officiis porro ad, expedita saepe necessitatibus rem debitis architecto dolore? Nam omnis sapiente placeat blanditiis voluptas dignissimos, itaque fugit a laudantium adipisci dolorem enim ipsum cum molestias? Quod quae molestias modi fugiat quisquam. Eligendi recusandae officiis debitis quas beatae aliquam?</p>
                  <p><a href="#" class="text-info">Seja nosso aluno</a></p>
              </div>
          </div>
                 

          </div>
        </div>

      </div>

          
      </div>



    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <p class="mb-4"><img src="{%static 'images/logo-completa-cinza.png'%}" alt="Image" class="img-fluid"></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>  
            <p><a href="#" class="text-info">Learn More</a></p>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Quem Somos?</span></h3>
            <ul class="list-unstyled">
                
                <li><a href="#">Nossa Filosofia</a></li>
                <li><a href="#">Nosso Professores</a></li>
                <li><a href="#">Nosso Alunos</a></li>
                
            </ul>
          </div>
          
          <div class="col-lg-3">
              <h3 class="footer-heading"><span>Contato</span></h3>
              <ul class="list-unstyled">
                  <li><a href="#">Centro de Ajudas</a></li>
                  <li><a href="#">Redes Socias</a></li>
               
              </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved - StudyWay</a>
                    
                    </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{%static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{%static 'js/jquery-ui.js'%}"></script>
  <script src="{%static 'js/popper.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{%static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{%static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{%static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{%static 'js/aos.js'%}"></script>
  <script src="{%static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{%static 'js/jquery.sticky.js'%}"></script>
  <script src="{%static 'js/jquery.mb.YTPlayer.min.js'%}"></script>




  <script src="{%static 'js/main.js'%}"></script>
</body>
</html>