{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>StudyWay</title>
	
	<meta charset="utf-8">
 	
 	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">

  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{%static 'css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">

  <link rel="stylesheet" href="{%static 'css/jquery.fancybox.min.css'%}">

  <link rel="stylesheet" href="{%static 'css/bootstrap-datepicker.css'%}">

  <link rel="stylesheet" href="{%static 'fonts/flaticon/font/flaticon.css'%}">

  <link rel="stylesheet" href="{%static 'css/aos.css'%}">
  <link href="{%static 'css/jquery.mb.YTPlayer.min.css'%}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{%static 'css/style.css'%}">



</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

	
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <div class="py-2 social-icon-w" style=" background-color: #0B0B3B;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-9 d-none d-lg-block">
            <a href="#" class="small mr-3" style="color:#6495ED;"><span class="icon-question-circle-o mr-2"></span> Duvídas?</a> 
            <a href="#" class="small mr-3" style="color:#6495ED;"><span class="icon-phone2 mr-2"></span> 85 998 74 65 10</a> 
            <a href="#" class="small mr-3" style="color:#6495ED;"><span class="icon-envelope-o mr-2"></span> info@mydomain.com</a> 
          </div>
          <div class="col-lg-3 text-right">

            <a href="login.html" class="small mr-3 " style="color:#6495ED;">

              <span class="icon-unlock-alt social-icon-w" style="color:#6495ED;" ></span> Log In</a>
            <a href="register.html" class="small btn social-icon-w px-4 py-2 rounded-0" style="color:#6495ED;"><span class="icon-users"></span> Cadastre-se</a>
          </div>
        </div>
      </div>
    </div>
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="index.html" class="d-block">
                <img src="{%static 'images/logo-completa-cinza.png' %}" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active">
                  <a href="index.html" class="nav-link text-left">Home</a>
                </li>
                <li class="has-children">
                  <a href="about.html" class="nav-link text-left">Sobre Nós</a>
                  <ul class="dropdown">
                    <li><a href="teachers.html">Nosso Professores</a></li>
                    <li><a href="about.html">Nosso Alunos</a></li>
                  </ul>
                </li>
                
                <li>
                  <a href="courses.html" class="nav-link text-left">Quem Somos?</a>
                </li>
                <li>
                    <a href="contact.html" class="nav-link text-left">Contato</a>
                  </li>
              </ul>                                                                                                                                                                                                                              
            </nav>

          </div>
          <div class="ml-auto">
            <div class="social-wrap">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>

              <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>
            </div>
          </div>
         
        </div>
      </div>

    </header>
    <br>
    <br>
    <br>


    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" >
      
      <div class="container">
      
          <div class="row align-items-end justify-content-center text-center">
      
            <div class="col-lg-7">
              <h2 class="mb-0">Login</h2>
      
              <p class="text">Realize o login para acessar a plataforma.</p>
      
            </div>
          
          </div>
      
        </div>
    
  </div> 

  <div class="custom-breadcrumns border-bottom text-info">
      
    <div class="container">
      <a href="index.html" class="text-info">Home</a>
      <span class="mx-3 icon-keyboard_arrow_right"></span>
      <span class="current">Login</span>
    </div>
  </div>

  <div class="site-section">
    
    <div class="container">
      

        <div class="row justify-content-center">
          

          <div class="card col-md-5">
            
            <article class="card-body">
              
              <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
              
              <hr>
              
              <p class="text-info text-center">Falta pouco!</p>
              {% load bootstrap %}                    
              {% block content %}
            
              <form method = "POST">
                {% csrf_token %}

                <div class="form-group">
                  {{ form|bootstrap }}
              <!-- input-group.// -->
                </div> <!-- form-group// -->
                
                <!-- form-group// -->
                <input type="hidden" name="next" value="{{ next }}" />

                <div class="form-group">
                  
                  <button type="submit" class="btn btn-info btn-block"> Login  </button>
                </div> <!-- form-group// -->
                <p class="text-center"><a href="#" class="btn text-info">Forgot password?</a></p>
              </form>
                            {% endblock %}

            </article>
          </div> <!-- card.// -->

          
        </div>
            
    </div>
  
  </div>
 
</div>

    
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <p class="mb-4"><img src="{%static 'images/logo-completa-cinza.png' %}" alt="Image" class="img-fluid"></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>  
        <p><a href="#" class="text-info">Learn More</a></p>
      </div>
      <div class="col-lg-3">
        <h3 class="footer-heading"><span>Quem Somos?</span></h3>
        <ul class="list-unstyled">
            
            <li><a href="#">Nossa Filosofia</a></li>
            <li><a href="#">Nosso Professores</a></li>
            <li><a href="#">Nosso Alunos</a></li>
            
        </ul>
      </div>
      
      <div class="col-lg-3">
          <h3 class="footer-heading"><span>Contato</span></h3>
          <ul class="list-unstyled">
              <li><a href="#">Centro de Ajudas</a></li>
              <li><a href="#">Redes Socias</a></li>
           
          </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="copyright">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved - StudyWay</a>
                
                </p>
        </div>
      </div>
    </div>
  </div>

</div>

  
  
  <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{%static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{%static 'js/jquery-ui.js'%}"></script>
  <script src="{%static 'js/popper.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{%static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{%static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{%static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{%static 'js/aos.js'%}"></script>
  <script src="{%static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{%static 'js/jquery.sticky.js'%}"></script>
  <script src="{%static 'js/jquery.mb.YTPlayer.min.js'%}"></script>




  <script src="{%static 'js/main.js'%}"></script>


</body>
</html>