{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>StudyWay</title>
  
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">

  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{%static 'css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">

  <link rel="stylesheet" href="{%static 'css/jquery.fancybox.min.css'%}">

  <link rel="stylesheet" href="{%static 'css/bootstrap-datepicker.css'%}">

  <link rel="stylesheet" href="{%static 'fonts/flaticon/font/flaticon.css'%}">

  <link rel="stylesheet" href="{%static 'css/aos.css'%}">
  <link href="{%static 'css/jquery.mb.YTPlayer.min.css'%}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{%static 'css/style.css'%}">


</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


   
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="index.html" class="d-block">
              <img src="{%static 'images/logo-completa-cinza.png'%}" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active">
                  <a href="index.html" class="nav-link text-left">Home</a>
                </li>
                 <li>
                  <a href="{%url 'studies' user.username%}"class = "text-info">Estudos</a>
                </li>  
                 <li>
                  <a href="{%url 'tests' user.username%}"class = "text-info">Testes</a>
                </li>
                 <li >
                  <a href="{%url 'logout' %}"class = "text-info">Log Out</a>
              </ul>                                                                                                                                                                                                                              
            </nav>

          </div>
         
         
        </div>
      </div>

    </header>
    <br>
    <br>
    <br>


    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" >
      
      <div class="container">
         
        <div class="row mb-5 justify-content-center">
            <div>
                <h2 class="section-title-underline mb-5">
              <span>Iniciar Ciclo de Estudo</span>            
            </h2>
            <div class="col-lg-12 mb-5">
                    <div id="timer">
				<div id="time" class ="text-center">
					
					<span id="minutes">25</span>
					
					<span id="colon">:</span>
					
					<span id="seconds">00</span>
				
				</div>

				<div id="filler"></div>
			
			</div>

			<div id="buttons">
				
				<button id="work">Work</button>

				<button id="shortBreak">Short Break</button>

				<button id="longBreak">Long Break</button>
				
				<button id="shortBreak">Stop</button>
				
			</div>
           
        
            
            </div> 
            
            
            </div>  

                
          
       
        </div> 
        <hr>
        <div class="row mb-5 justify-content-center ">
         
        <div class="col-lg-8 mb-5 text-justify-center">

            {% load bootstrap %}      
            {% block content %}
            <p>
                Nome: {{study.name}}
            </p>
            <p>
                Descrição: {{study.description}}
            </p>
            <p>Temas:</p>
            <ul>
            
                		        
                {%for t in study.themes.all%}
                    <li>{{t.name}}</li>
                
                {% endfor %}

            <ul>    
            {% endblock %}
       
            
        </div>
       
        </div>
        <hr>
        <div class = "row mb-5 justify-content-center ">
            <div class = "col-lg-8 mb-5">
                <p class="lead">
                		<a class="btn btn-info btn-lg" href="{%url 'studies' user.username%}" role="button">Voltar</a>
                </p>
		         
            </div>
        </div>
            
      </div>      

  </div>
 
</div>


    
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <p class="mb-4"><img src="{%static 'images/logo-completa-cinza.png' %}" alt="Image" class="img-fluid"></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>  
        <p><a href="#" class="text-info">Learn More</a></p>
      </div>
      <div class="col-lg-3">
        <h3 class="footer-heading"><span>Quem Somos?</span></h3>
        <ul class="list-unstyled">
            
            <li><a href="#">Nossa Filosofia</a></li>
            <li><a href="#">Nosso Professores</a></li>
            <li><a href="#">Nosso Alunos</a></li>
            
        </ul>
      </div>
      
      <div class="col-lg-3">
          <h3 class="footer-heading"><span>Contato</span></h3>
          <ul class="list-unstyled">
              <li><a href="#">Centro de Ajudas</a></li>
              <li><a href="#">Redes Socias</a></li>
           
          </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="copyright">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved - StudyWay</a>
                
                </p>
        </div>
      </div>
    </div>
  </div>

</div>


  
  <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{%static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{%static 'js/jquery-ui.js'%}"></script>
  <script src="{%static 'js/popper.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{%static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{%static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{%static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{%static 'js/aos.js'%}"></script>
  <script src="{%static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{%static 'js/jquery.sticky.js'%}"></script>
  <script src="{%static 'js/jquery.mb.YTPlayer.min.js'%}"></script>




  <script src="{%static 'js/main.js'%}"></script>
  <script>
    var pomodoro = {
    started : false,
    minutes : 0,
    seconds : 0,
    fillerHeight : 0,
    fillerIncrement : 0,
    interval : null,
    minutesDom : null,
    secondsDom : null,
    fillerDom : null,
    init : function(){
      var self = this;
      this.minutesDom = document.querySelector('#minutes');
      this.secondsDom = document.querySelector('#seconds');
      this.fillerDom = document.querySelector('#filler');
      this.interval = setInterval(function(){
        self.intervalCallback.apply(self);
      }, 1000);
      document.querySelector('#work').onclick = function(){
        self.startWork.apply(self);
      };
      document.querySelector('#shortBreak').onclick = function(){
        self.startShortBreak.apply(self);
      };
      document.querySelector('#longBreak').onclick = function(){
        self.startLongBreak.apply(self);
      };
      document.querySelector('#stop').onclick = function(){
        self.stopTimer.apply(self);
      };
    },
    resetVariables : function(mins, secs, started){
      this.minutes = mins;
      this.seconds = secs;
      this.started = started;
      this.fillerIncrement = 200/(this.minutes*60);
      this.fillerHeight = 0;  
    },
    startWork: function() {
      this.resetVariables(25, 0, true);
    },
    startShortBreak : function(){
      this.resetVariables(5, 0, true);
    },
    startLongBreak : function(){
      this.resetVariables(15, 0, true);
    },
    stopTimer : function(){
      this.resetVariables(25, 0, false);
      this.updateDom();
    },
    toDoubleDigit : function(num){
      if(num < 10) {
        return "0" + parseInt(num, 10);
      }
      return num;
    },
    updateDom : function(){
      this.minutesDom.innerHTML = this.toDoubleDigit(this.minutes);
      this.secondsDom.innerHTML = this.toDoubleDigit(this.seconds);
      this.fillerHeight = this.fillerHeight + this.fillerIncrement;
      this.fillerDom.style.height = this.fillerHeight + 'px';
    },
    intervalCallback : function(){
      if(!this.started) return false;
      if(this.seconds == 0) {
        if(this.minutes == 0) {
          this.timerComplete();
          return;
        }
        this.seconds = 59;
        this.minutes--;
      } else {
        this.seconds--;
      }
      this.updateDom();
    },
    timerComplete : function(){
      this.started = false;
      this.fillerHeight = 0;
    }
};
window.onload = function(){
  pomodoro.init();
};
  
  </script>
  
  <style type="text/css">
    #timer{

	color: #f00;

	font-size: 50px;

	margin: 10px auto;

	border: 5px solid red;

	border-radius: 50%;

	width: 200px;

	height: 200px;

	overflow: hidden;

	position: relative;

	-webkit-user-select: none;
  	
  	-moz-user-select: none;
  	
  	-ms-user-select: none;
  	
  	user-select: none;
  	
  	cursor:default;

}

        #time{

        margin-top: 70px;

        z-index: 1;

        position: relative;
        }
        #filler{
        background : #ddffcc;
        height: 0px;
        width: 200px;
        position:absolute;
        bottom:0;
        }


        #buttons button { 
        background:#4da6ff; 
        border:none; 
        color:#fff; 
        cursor:pointer; 
        padding:5px; 
        width:90px; 
        margin:10px auto;
        font-size:14px;
        height : 50px;
        border-radius : 50px;
        }

        #buttons button#shortBreak{
        background : #0c0;
        }

        #buttons button#longBreak{
        background : #080;
        }

        #buttons button#stop{
        background : #f00;
}

  </style>  
</body>
</html>